{% extends "base.html" %}

{% load mezzanine_tags static blog_tags accounts_tags %}

{% block meta_title %}Share and Collaborate{% endblock %}

{% block main %}
    {% if user.is_anonymous %}
        <div>
            <div class="container">
                <div class="row home-page-block">
                    <div class="col-xs-12">
                        <center><strong><h3 class="home-page-block-title">Join the community to start sharing</h3>
                        </strong>
                        </center>
                        <center>
                            <span>My Health Peace of Mind is an online community that allows you to share important health information with the people you name and provides you with a free online tool to manage your wellness. MyHPOM is available any time I want to explore, communicate and share information about me.</span>
                        </center>
                        <center><a class="btn btn-primary btn-signup slideInBlock" href="sign-up/">Sign up now</a>
                        </center>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <div id="home-page-carousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#home-page-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#home-page-carousel" data-slide-to="1"></li>
            <li data-target="#home-page-carousel" data-slide-to="2"></li>
        </ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active parallax-window" style="background-image: url({{ STATIC_URL }}img/home-page/carousel/bg3.jpg)">
                <div class="caption-wrapper">
                    <div class="item-caption">
                        <h1><strong>Connect with Family and Friends</strong></h1>
                        <h4>Share with those who you would like to speak for you if you are not able to do so yourself. </h4>
                    </div>
                </div>
            </div>

            <div class="item parallax-window" style="background-image: url({{ STATIC_URL }}img/home-page/carousel/bg1.jpg)">
                <div class="caption-wrapper">
                    <div class="item-caption">
                        <h1><strong>Connect with Health Care Providers</strong></h1>
                        <h4>Links your <strong>REAL TIME</strong>Share health information with healthcare providers you name and those who might be called to treat you in an emergency.</h4>
                    </div>
                </div>
            </div>

            <div class="item parallax-window" style="background-image: url({{ STATIC_URL }}img/home-page/carousel/bg2.JPG)">
                <div class="caption-wrapper">
                    <div class="item-caption">
                        <h1><strong>Connect with Others</strong></h1>
                        <h4>My Health Peace of Mind is an online community that allows you to connect with others who, like you, might be dealing with a new diagnosis or links your health information with health care providers you name and those who might be called to treat you in an emergency.</h4>
                    </div>
                </div>
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#home-page-carousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#home-page-carousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <div class="container">
        <h2 class="home-page-block-title">How it works</h2>
        <div class="row home-page-block">
            <div class="steps-container">
                <div class="col-xs-12 col-sm-3 step-wrapper slideInBlock">
                    <div class="step-item">
                        <div class="step-number">1</div>
                        <h4>Create your MyHPOM profile</h4>
                        <div class="description-container table-display">
                            <span class="step-description table-cell-display">Create your profile to increase your peace of mind.</span>
                        </div>
                        <div>
                            <img class="img-responsive img-step" src="{{ STATIC_URL }}img/home-page/step1.png"
                                 alt="Create data">
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-3 step-wrapper slideInBlock">
                    <div class="step-item">
                        <div class="step-number">2</div>
                        <h4>Upload your health information to My Healthcare Peace of Mind</h4>
                        <div class="description-container table-display">
                            <span class="step-description table-cell-display">Upload your health information to your MyHPOM profile through the web user interface.</span>
                        </div>
                        <div>
                            <img class="img-responsive img-step" src="{{ STATIC_URL }}img/home-page/step2.png"
                                 alt="Upload to MyHPOM">
                        </div>
                    </div>

                </div>

                <div class="col-xs-12 col-sm-3 step-wrapper slideInBlock">
                    <div class="step-item">
                        <div class="step-number">3</div>
                        <h4>Describe your health information</h4>
                        <div class="description-container table-display">
                            <span class="step-description table-cell-display">Use MyHPOM's simple forms to finish describing your information so that you can share with family, friends, healthcare providers, and others as you decide.</span>
                        </div>
                        <div>
                            <img class="img-responsive img-step" src="{{ STATIC_URL }}img/home-page/step3.png"
                                 alt="Describe your information">
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-3 step-wrapper slideInBlock">
                    <div class="step-item">
                        <div class="step-number">4</div>
                        <h4>Share your information as <strong>you</strong> choose</h4>
                        <div class="description-container table-display">
                            <span class="step-description table-cell-display">You choose who has access to your health information.</span>
                        </div>
                        <div>
                            <img class="img-responsive img-step" src="{{ STATIC_URL }}img/home-page/step4.png"
                                 alt="Share">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>
        <div class="container home-page-block">
            <div class="row">
                <div class="col-sm-12"><h2 class="home-page-block-title">What you can do with MyHPOM</h2></div>
                <div class="col-xs-12 col-sm-7 slideInBlock">
                    <table id="table-features">
                        <tbody>
                            <tr><td><div class="glyphicon glyphicon-ok checkmark"></div></td><td>Share your health information with those who care about you and those who care for you.</td></tr>
                                <tr><td><div class="glyphicon glyphicon-ok checkmark"></div></td><td>Manage who has access to your information.</td></tr>
                                <tr><td><div class="glyphicon glyphicon-ok checkmark"></div></td><td>Share, find and access information relevant to your health peace of mind.</td></tr>
                                <tr><td><div class="glyphicon glyphicon-ok checkmark"></div></td><td>And more...</td></tr>
                                <tr><td><div class="glyphicon glyphicon-ok checkmark"></div></td><td>And still more...</td></tr>
                                <tr><td><div class="glyphicon glyphicon-ok checkmark"></div></td><td>And you thought that was it. There's more...</td></tr>
                                <tr><td><div class="glyphicon glyphicon-ok checkmark"></div></td><td>Are you sure that's all?</td></tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-xs-12- col-sm-5 slideInBlock">
                    <img class="img-responsive" src="{{ STATIC_URL }}img/home-page/laptop.png"
                         alt="Browsing MyHPOM">
                </div>
            </div>
        </div>

        <div class="screen-sizes">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        {# Image credit: Android Design. Used under Creative Commons license. http://developer.android.com/design/style/devices-displays.html #}
                        <img class="img-devices img-responsive" src="{{ STATIC_URL }}img/da_devices.png"
                             alt="Screen sizes">
                    </div>
                    <div class="col-xs-12 col-sm-6 ">
                        <div class="table-display">
                            <h2 class="table-cell-display availability-description">Available on all your devices</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="{{ STATIC_URL }}js/home-page.js"></script>

{% endblock %}


