<link href="http://polygit.org/components/polymer/polymer.html" rel="import" />
<link href="http://polygit.org/components/iron-ajax/iron-ajax.html" rel="import" />


<dom-module id="hs-api">
  <template>
    <style></style>

    <iron-ajax
        id="ajax"
        handle-as="json"
        on-response="handleResponse"
        debounce-duration="300">
    </iron-ajax>
  </template>

  <script>
    Polymer({
      is: "hs-api",

      handleResponse: function() {
        this.fire("api-response", { response: this.$.ajax.lastResponse });
      },

      get: function(url) {
        this.$.ajax.url = url;
        this.$.ajax.generateRequest();
      },

      getResources: function() { this.get("/hsapi/resourceList/"); },

      ready: function() {
        this.getResources();
      }
    })
  </script>
</dom-module>