<link href="http://polygit.org/components/polymer/polymer.html" rel="import" />
<link href="http://polygit.org/components/iron-pages/iron-pages.html" rel="import" />
<link href="http://polygit.org/components/app-route/app-location.html" rel="import" />
<link href="http://polygit.org/components/app-route/app-route.html" rel="import" />

<link href="./hs-api.html" rel="import">

<dom-module id="hs-app">
  <template>
    <app-location route="{{ route }}"></app-location>
    <app-route route="{{ route }}" pattern="/:page" data="{{ routeData }}" tail="{{ tail }}"></app-route>

    <iron-pages attr-for-selected="name" selected="[[ routeData.page ]]">
      <hs-my-resources page="[[routeData.page]]" name="my-resources"></hs-my-resources>
    </iron-pages>
  </template>

  <script>
    Polymer({
      is: "hs-app",

      properties: {
        spa_pages: {
          type: Array,
          value: ["my-resources"]
        },
        page: {
          type: String,
          reflectToAttribute: true,
          observer: '_pageChanged',
        },
        initialRoute: String
      },

      observers: [
        '_routePageChanged(routeData.page)',
      ],

      _routePageChanged: function(page) {
        if(this.initialRoute === "NONE") this.set('initialRoute', page);

        if((this.initialRoute !== page) && (this.spa_pages.indexOf(page) === -1 || page === "")) {
          window.location = window.location.pathname;
        } else if(page !== "" && this.spa_pages.indexOf(page) > -1) {
          this.importHref("/static/components/hs-" + page + ".html", null, this._showPage404, true);
          document.getElementsByTagName('title')[0].innerHTML = "My Resources | Hydroshare";

          if(document.querySelector("#nonspa")) {
            document.querySelector("#nonspa").remove();
          }
        }

      },

      _showPage404: function() {
        console.log("showPage404");
      },

      created: function() {
        this.initialRoute = "NONE";
      }
    })
  </script>
</dom-module>
