<dom-module id="hs-my-resources-labels">
  <template>
    <style></style>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <span class="glyphicon glyphicon-tags"></span>
          <a data-toggle="collapse" class="accordion-toggle" data-parent="#accordion" href="#labels">&nbsp;&nbsp;Labels</a></h4>
      </div>
      <div id="labels" class="facet-list panel-collapse collapse in">
        <div class="panel-body">
          <div class="list-group">
            <ul id="user-labels-left" class="list-group inputs-group">

            </ul>
          </div>
        </div>
      </div>
    </div>
  </template>

  <script>
    Polymer({
      is: "hs-my-resources-labels"
    })
  </script>
</dom-module>