<dom-module id="hs-my-resources-filter">
  <template>
    <style></style>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <span class="glyphicon glyphicon glyphicon-search"></span>
            <a data-toggle="collapse" class="accordion-toggle" data-parent="#accordion" href="#filter">&nbsp;Filter</a></h4>
        </div>
        <div id="filter" class="facet-list panel-collapse collapse in">
          <div class="panel-body">
            <div class="list-group">
              <ul class="list-group inputs-group"
                  data-owned-count="{{ owned|length }}"
                  data-editable-count="{{ editable|length }}"
                  data-view-count="{{ view|length }}" >
                <li class="list-group-item">
                  <span data-facet="owned" class="badge">0</span>
                  <label class="checkbox noselect">
                    <input type="checkbox" data-facet="owned" value="Owned"> Owned by me
                  </label>
                </li>
                <li class="list-group-item">
                  <span data-facet="editable" class="badge">0</span>
                  <label class="checkbox noselect">
                    <input type="checkbox" data-facet="editable" value="Editable"> Editable by me
                  </label>
                </li>
                <li class="list-group-item">
                  <span data-facet="viewable by me" class="badge">0</span>
                  <label class="checkbox noselect">
                    <input type="checkbox" data-facet="viewable by me" value="View"> Viewable by me
                  </label>
                </li>
                <li class="list-group-item">
                  <span data-facet="favorites" class="badge">0</span>
                  <label class="checkbox noselect">
                    <input type="checkbox" data-facet="favorites" value="Favorites"> Favorites
                  </label>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
  </template>

  <script>
    Polymer({
      is: "hs-my-resources-filter"
    })
  </script>
</dom-module>