<link href="http://polygit.org/components/polymer/polymer.html" rel="import" />
<link href="http://polygit.org/components/iron-ajax/iron-ajax.html" rel="import" />


<dom-module id="hydroshare-api">
  <template>
    <style></style>

    <iron-ajax
        id="ajax"
        url="https://www.googleapis.com/youtube/v3/search"
        handle-as="json"
        on-response="handleResponse"
        debounce-duration="300">
    </iron-ajax>
  </template>

  <script>
    Polymer({
      is: "hydroshare-api",

      handleResponse: function() {
        this.fire("api-response", { response: this.$.ajax.lastResponse });
      },

      getResources: function() {
        this.$.ajax.url = "/hsapi/resourceList/";
        this.$.ajax.generateRequest();
      },

      ready: function() {
        this.getResources();
      }
    })
  </script>
</dom-module>